.button {
  cursor: pointer;
  width: 60%;
  max-width: 300px;
  display: block;
  padding: .5rem;
  margin: 1rem auto;
  border-radius: .5rem;
  background: #dcdcdc;
  text-align: center;
  font-size: 1.25rem;
  text-decoration: none;
  color: #323232;
}

.white.button {
  background: #fff;
}
