article {
  display: grid;
  display: -ms-grid;
  width: 100%;
  max-width: 1250px;
  margin: auto;
}

@media screen and (min-width: 800px) {
  article {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 2fr;
  }

  article > div {
    margin: 1rem;
  }
}

.grid-first-item {
  -ms-grid-column: 1;
}

.grid-second-item {
  -ms-grid-column: 2;
}

.container {
  width: 90%;
  max-width: 650px;
  margin: auto;
}

.explain {
  font-size: .9rem;
  color: #808080 !important;
}

.screenshot,
.phone-screenshot {
  width: 90%;
  max-width: 700px;
  margin: 1rem auto;
  padding: 0 !important;
}

.phone-screenshot {
  max-width: 250px;
}

.skills {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 2fr;
  -ms-grid-columns: 1fr 2fr;
  grid-gap: .5rem;
  margin: 1rem auto;
}

.skills * {
  padding: 1rem .5rem;
  border-radius: .25rem;
  background: #ebebeb !important;
  color: black;
}

.skills .HTML {
  background: #eb9d42 !important;
  color: #323232;
}

.skills .CSS {
  background: #429aeb !important;
  color: #f3f3f3;
}

.skills .JavaScript {
  background: #ede75c !important;
  color: #323232;
}

.skills .C {
  background: #323232 !important;
  color: #f3f3f3;
}

.skills .JSON {
  background: #747474 !important;
  color: #f3f3f3;
}

.skills .PHP {
  background: #0a62f9 !important;
  color: #f3f3f3;
}

.skills .MySQL {
  background: #f9b60a !important;
  color: #f3f3f3;
}

.skills :nth-child(1) {
  background: #555 !important;
  color: white;
}

.skills :nth-child(2) {
  background: #323232 !important;
  color: white;
}

#catchphrase {
  margin: auto;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 800;
}

#profile-image {
  width: 60%;
  max-width: 300px;
  border-radius: 100%;
  margin: 1.5rem auto;
  border: 2px solid #dcdcdc;
}

#skills {
  font-size: 2rem;
}

#skill-icons-wrapper {
  padding: 1rem 0;
  margin: 1rem auto;
}

#skill-icons {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  width: 90%;
  max-width: 650px;
  margin: 3rem auto;
}

#skill-icons img {
  width: 100%;
  max-width: 150px;
  margin: auto;
}

#reverse-change-page *:not(.button) {
  background: rgba(244, 244, 244, 0.95);
}

#c-omok-page {
  transition: background 1s, color 1s;
}

#dot-cat {
  animation: cat-move 1s infinite;
  width: 150px;
  margin: auto;
  image-rendering: pixelated;
}

@keyframes cat-move {
  100% {
    transform: rotate(360deg);
  }
}

#board {
  display: block;
  width: 90%;
  margin: auto;
}

#ai-omok-page img {
  display: block;
  width: 90%;
  margin: 1rem auto;
}

#game-pad {
  display: block;
  width: 45%;
  max-width: 240px;
  margin: 2rem auto;
}
